$lightPrimary: #A8D7A8;
$primary: #2D882D;
$darkPrimary: #003500;
$lightError: #FFE4E5;
$darkText: #222;

$bigCellSize: 50px;
$bigCellFontSize: 32px;
$smallCellSize: 30px;
$smallCellFontSize: 18px;

$breakSmall: 500px;

#sudoku-wrapper {
  text-align: center;
  font-family: Arial;
  color: $darkText;

  p {
    margin: 0;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 300;
  }

  .button {
    display: inline-block;
    margin: 18px;
    padding: 8px 14px;
    font-size: 20px;
    font-weight: 300;
    background: $lightPrimary;
    color: $darkPrimary;
    text-decoration: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid $darkPrimary;

    &:hover, &:focus {
      background: lighten($lightPrimary, 7%);
    }
    &:active {
      background: darken($lightPrimary, 7%);
    }
  }

  .message {
    margin: 18px 0 0;
    padding: 6px 10px;
    border: 1px solid $darkPrimary;
    display: inline-block;
    background: $lightPrimary;

    &.error {
      background: $lightError;
    }
  }
}

#sudoku-table {
  border: 3px solid $darkPrimary;
  border-collapse: collapse;
  margin: 0 auto;

  input {
    width: $bigCellSize;
    height: $bigCellSize;
    margin: 0;
    padding: 0 15px;
    font-size: 32px;
    border: 0;
  }

  td {
    border: 1px solid $darkPrimary;
    padding: 0;
    &:nth-child(3n) {
      border-right: 3px solid $darkPrimary;
    }
  }

  tr:nth-child(3n) {
    border-bottom: 3px solid $darkPrimary;
  }

  .sudoku-cell {
    height: $bigCellSize;
    width: $bigCellSize;
    line-height: $bigCellSize;
    text-align: center;
    font-size: 32px;

    &.prefilled {
      background: $lightPrimary;
    }
  }
}

@media screen and (max-width: $breakSmall) {
  #sudoku-wrapper {
    h2 {
      font-size: 30px;
    }
  }

  #sudoku-table { 
    input {
      width: $smallCellSize;
      height: $smallCellSize;
      font-size: $smallCellFontSize;
      padding: 0 9px;
    }

    .sudoku-cell {
      height: $smallCellSize;
      width: $smallCellSize;
      line-height: $smallCellSize;
      font-size: $smallCellFontSize;
    }
  }

  #message-view {
    margin: 0 auto;
    max-width: 280px;
  }
}
